<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfK0Rpx2IFJYI9mmeeUvQ17on_Empcfgk</string>
	<key>GCM_SENDER_ID</key>
	<string>819876183457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopifyApp</string>
	<key>PROJECT_ID</key>
	<string>shopify-f6a2c</string>
	<key>STORAGE_BUCKET</key>
	<string>shopify-f6a2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819876183457:ios:704970af0c104116c65fe0</string>
</dict>
</plist>